* {
    margin: 0;
    padding: 0;
}

.mainwindow {
    display: flex;
    flex-direction: column;
}

/* header */

.header {
    display: grid;
    grid-template-areas: 
    "top top top"
    "center center center"
    "bottom bottom bottom";
}

.header-top {
    grid-area: top;
    background-color: #232323;
    height: 66px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header-center {
    grid-area: center;
    background-color: #131313;
    height: 136px;
    width: 100%;
}

.header-bottom {
    grid-area: bottom;
    background-color: #0D0D0D;
    height: 57px;
    width: 100%;
}