@font-face {
    font-family: 'Neo Sans Pro Cyr';
    src: url('NeoSansProCyr-Regular.eot');
    src: local('Neo Sans Pro Cyr Regular'), local('NeoSansProCyr-Regular'),
        url('NeoSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeoSansProCyr-Regular.woff2') format('woff2'),
        url('NeoSansProCyr-Regular.woff') format('woff'),
        url('NeoSansProCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
